# Python temporary files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database (Private data)
*.db
*.sqlite
*.sqlite3

# Virtual environments
venv/
.venv/
env/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS specific files
.DS_Store
Thumbs.db

# Streamlit local state
.streamlit/
!.streamlit/config.toml
